html {
    scrollbar-gutter: auto;
}

body {
    display: grid;
    place-items: center;
    max-width: none;
    position: relative;
    isolation: isolate;
}

.form-center {
    display: flex;
    gap: 2em;
    background-color: var(--clr-bg-html);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px color-mix(in lab, var(--clr-text-body) 25%, transparent);
}

.stack:first-child {
    padding: 1em;
    display: grid;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #00F08B, #009FFE);
    border-radius: 0.5em;
}


.logo {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    color: var(--clr-white);
}



.stack:last-child {
    display: grid;
    gap: .5em;
    padding: 2em 2.5em 0 0;
    z-index: 1;
}



@media (max-width: 825px) {
    .stack:first-child {
        position: absolute;
        inset: 0 0 auto 0;
        border-radius: 0;
        align-items: start;
        height: 25vw;
        z-index: -1;
    }
    .logo {
        flex-direction: row;
    }
    .stack:last-child {
        padding: 1em;
    }
}

h2 {
    font-size: 1.5em;
}

p {
    color: var(--clr-text-lesson-time);
}

#user-login {
    margin-top: 1.5em;
    display: grid;
    gap: 0.5em;
}

#user-login.error::before {
    content: "Username or password is incorrect!";
    text-align: center;
    font-size: .75em;
    color: var(--clr-check-in-false);
}


#user-login.error input {
    border-color: var(--clr-check-in-false) !important;

}

#user-login .input-control {
    display: grid;
    grid-template-areas: "stack";
    justify-items: end;
    align-items: center;
    font-size: .75em;
}

#user-login .input-control>* {
    grid-area: stack;
}

#user-login .input-control>input {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    padding: 1em 1.175em;
    border: 1px solid var(--clr-outline-body);
    color: var(--clr-text-body);
    border-radius: .5em;
    outline: none;
    font-size: 1em;
    padding-right: 3em;
}

#user-login input:focus-visible {
    border-color: var(--clr-text-lesson-time);
}

#user-login input::placeholder {
    color: var(--clr-outline-body);
}

.input-control>.icon {
    padding-right: 1em;
}


.show-password {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    margin-left: 1px;
}

#show-password {
    position: absolute;
    width: 1em;
    aspect-ratio: 1;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

#show-password + .checkbox {
    width: 1em;
    aspect-ratio: 1;
    outline: 1px solid var(--clr-primary);
    background-image: var(--url-icon-checkmark);
    border-radius: .125em;
    transition: background-color 150ms ease-in-out;
    pointer-events: none;
}

#show-password:checked + .checkbox {
    background-color: var(--clr-primary);
}

#user-login>a {
    text-align: right;
    color: color-mix(in lab, var(--clr-primary) 60%, var(--clr-bg-body));
    margin-block: .5em 2em;
    text-decoration: none;
}

#user-login>button[type='submit'] {
    padding: .75em 1.75em;
    background-color: var(--clr-primary);
    border: none;
    border-radius: .5em;
    cursor: pointer;
    color: white;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 1px;
    width: fit-content;
    margin-left: auto;
}

#user-login>button[type='submit']:hover {
    filter: brightness(.9);
}