main {
    margin-block: 2em;
}

main table {
    width: 100%;
}

main>a {
    display: flex;
    gap: .5em;
}

.absents {
    margin-block: 2em;
}

.absents h1 {
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
}


.selects {
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: flex-end;
}

.custom-select {
    position: relative;
    user-select: none;
}

.selected-value,
.selected-value+ul>li {
    padding: .5em 2.5em .5em .75em;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.selected-value.choosing-semester {
    font-size: .85em;
}

.selected-value+ul {
    position: absolute;
    top: calc(var(--selected-item) * -37.8px);
    border-radius: .25em;
    overflow: hidden;
    background-color: var(--clr-bg-body);
    box-shadow: 0 0 10px color-mix(in lab, var(--clr-text-body) 15%, var(--clr-bg-body));
    z-index: -1;
    display: none;
}

.selected-value+ul.selecting {
    display: block;
    z-index: 1;
}


.selected-value+ul>li:hover {
    background-color: color-mix(in lab, var(--clr-text-body) 5%, var(--clr-bg-body));
}

.selected-value+ul>li.selected {
    background-color: color-mix(in lab, var(--clr-text-body) 15%, var(--clr-bg-body));
}


.selected-value {
    position: relative;
    width: fit-content;
    outline: transparent;
    font-weight: 500;
    border-bottom: 1px solid var(--clr-text-lesson-time);
}

.selected-value::after {
    position: absolute;
    content: "";
    background-image: var(--url-icon-dropdown);
    width: 1em;
    aspect-ratio: 1;
    inset: 50% 0 auto auto;
    translate: -50% -50%;
}


.absents-container {
    margin-top: 2em;
    display: grid;
    gap: 2em;
}

.absent {
    width: 100%;
    padding: 1.5em;
    display: grid;
    grid-template-rows: auto 0fr auto;
    gap: 1em;
    border-radius: 1em;
    box-shadow: 0 0 10px color-mix(in lab, var(--clr-text-body) 12.5%, transparent);
    background-color: var(--clr-bg-html);
    transition: grid-template-rows 200ms ease-in-out;
}

.absent.detailed {
    grid-template-rows: auto 1fr auto;
}

.absent .heading-info {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: .5em;
}

.absent .name {
    font-size: 1.25em;
    font-weight: 700;
    text-wrap: balance;
}


.absent .count {
    width: fit-content;
    font-size: .85em;
    padding: .25em 1em;
    border-radius: 100vw;
    color: var(--clr-white);
}

.absent .count.green {
    background-color: var(--clr-bg-lesson-event);
}

.absent .count.yellow {
    background-color: var(--clr-bg-lesson-tutorial);
}

.absent .count.red {
    background-color: var(--clr-bg-lesson-lecture);
}

.absent ul.detailed-info {
    margin-block: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: 600;
    gap: 1.5em .5em;
    overflow: hidden;
    transition: margin-block 200ms ease-in-out;
}

.absent.detailed ul.detailed-info {
    margin-block: 2em .5em;
    
}

.check-attendances {
    grid-column: 1 / -1;
    padding-block: .5em;
    border-radius: .5em;
    margin-bottom: 1em;
    font-weight: 500;
    color: var(--clr-white);
    background: var(--clr-primary);
}


.absent .show-info {
    font-size: .75em;
    position: relative;
    color: var(--clr-text-lesson-time);
    width: fit-content;
    margin-inline: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-right: 2em;
}

.absent .show-info::after {
    position: absolute;
    content: "";
    width: 1em;
    aspect-ratio: 1;
    inset: 50% 0 auto auto;
    translate: -50% -50%;
    background-size: contain;
    filter: invert(.5);
}

.absent .show-info::after {
    background-image: var(--url-icon-dropup);
}

.absent .show-info.more::after {
    background-image: var(--url-icon-dropdown);
}

.absent ul.detailed-info>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .5em;
}


.absent ul.detailed-info>li::before {
    content: attr(data-cell);
    font-size: .85em;
    color: var(--clr-text-lesson-time);
    text-transform: capitalize;
    font-weight: 400;
}