main {
    margin-block: 2em;
}

main table {
    width: 100%;
}

main a {
    display: flex;
    gap: .5em;
}

table {
    background-color: var(--clr-bg-html);
    border-radius: .5em;
    border-collapse: collapse;
    padding: 1em;
    margin-top: 2em;
}

caption {
    font-size: 1.25em;
    font-weight: 700;
    margin-block-end: 2em;
}


tr th:first-child {
    text-align: left;
}


th, td {
    padding: .75em 1em;
}

td:not(:first-child) {
    text-align: center;
}


@media (max-width: 520px) {
    tr {
        display: grid;
        padding-block: 1.5em;
        border-bottom: 1px solid var(--clr-text-lesson-time);
    }
    tr:first-child {
        padding-top: .5em;
    }
    tr:last-child {
        padding-bottom: .5em;
        border-bottom: none;
    }
    thead {
        display: none;
    }

    td[data-cell=module] {
        font-size: 1.125em;
        font-weight: 700;
    }
    td:not([data-cell-name-invisible]) {
        display: grid;
        grid-template-columns: 8ch auto;
        text-align: left !important;
        font-weight: 600;
    }

    td:not([data-cell-name-invisible])::before {
        content: attr(data-cell) ": ";
        text-transform: capitalize;
        font-weight: 400;
        color: var(--clr-text-lesson-time);
    }
}