*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    touch-action: manipulation;

}


html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body {
    min-height: 100dvh;
    overflow-x: hidden;
}

ul:not([role=list]),
ol:not([role=list]) {
    list-style: none;
}

picture,
img,
object,
figure {
    display: block;
}

object,
figure {
    pointer-events: none;
}

input[type=text],
input[type=number],
input[type=password],
input[type=search],
input[type=email] {
    border: 0;
    outline: transparent;
    background-color: inherit;
    width: 100%;
}

button {
    border: 0;
    outline: transparent;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.text-center {
    text-align: center;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}


:root {
    --clr-bg-body: hsl(0, 0%, 93%);
    --clr-bg-html: hsl(0, 0%, 100%);
    --clr-text-body: hsl(0, 0%, 0%);
    --clr-primary: hsl(215, 100%, 50%);
    --clr-bg-placer: color-mix(in lab, var(--clr-primary) 25%, transparent);
    --clr-bg-lesson-lecture: hsl(0, 100%, 72%);
    --clr-bg-lesson-tutorial: hsl(37, 90%, 51%);
    --clr-bg-lesson-event: hsl(145, 63%, 42%);
    --clr-text-lesson-time: hsl(0, 0%, 50%);
    --clr-check-in-false: hsl(0, 75%, 60%);
    --clr-check-in-true: hsl(145, 64%, 37%);
    --clr-weekname: hsl(0, 0%, 73%);
    --clr-outline-body: hsl(0, 0%, 67%);



    --url-icon-checkmark: url(../assets/icons/ios-checkmark-light.svg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-bg-body: hsl(0, 0%, 15%);
        --clr-bg-html: hsl(0, 0%, 13%);
        --clr-text-body: hsl(0, 0%, 100%);
        --clr-bg-placer: color-mix(in lab, var(--clr-primary) 20%, transparent);
        --clr-text-nav-icon: contrast(0) brightness(2);
        --url-icon-checkmark: url(../assets/icons/ios-checkmark-dark.svg);
    }
}

html {
    background-color: var(--clr-bg-html);
}

body {
    font-family: 'Open Sans', system-ui, sans-serif;
    padding: 2em;
    max-width: 800px;
    margin-inline: auto;
    background-color: var(--clr-bg-body);
    outline: 1px solid var(--clr-outline-body);
    color: var(--clr-text-body);
}


header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 2em;
}

header>h1 {
    font-size: 1.5em;
}

header span.bold {
    text-transform: capitalize;
}

header>.avatar {
    outline: 2px solid color-mix(in oklab, var(--clr-primary) 70%, white);
    outline-offset: 1px;
    border-radius: 1em;
}

header img {
    width: 3.75em;
    aspect-ratio: 1;
    border-radius: inherit;
    background-color: var(--clr-text-lesson-time);
    transition: opacity 300ms linear;
}


footer {
    margin-top: 1.5em;
    font-size: .75em;
}

footer a {
    color: var(--clr-primary);
}


@media (max-width: 420px) {
    body {
        font-size: 13px;
    }
}

@media (max-width: 340px) {
    nav {
        font-size: 11px;
    }
}