*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    touch-action: manipulation;

}


html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body {
    min-height: 100dvh;
    overflow-x: hidden;
}

ul:not([role=list]),
ol:not([role=list]) {
    list-style: none;
}

picture,
img,
object,
figure {
    display: block;
}

object,
figure {
    pointer-events: none;
}

input[type=text],
input[type=number],
input[type=password],
input[type=search],
input[type=email] {
    border: 0;
    outline: transparent;
    background-color: inherit;
    width: 100%;
}

button {
    border: 0;
    outline: transparent;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.text-center {
    text-align: center;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}


:root {
    --clr-bg-body: hsl(0, 0%, 93%);
    --clr-bg-html: hsl(0, 0%, 100%);
    --clr-text-body: hsl(0, 0%, 0%);
    --clr-primary: hsl(215, 100%, 50%);
    --clr-bg-placer: color-mix(in lab, var(--clr-primary) 25%, transparent);
    --clr-bg-lesson-lecture: hsl(0, 100%, 72%);
    --clr-bg-lesson-tutorial: hsl(37, 90%, 51%);
    --clr-bg-lesson-event: hsl(145, 63%, 42%);
    --clr-text-lesson-time: hsl(0, 0%, 50%);
    --clr-check-in-false: hsl(0, 75%, 60%);
    --clr-check-in-true: hsl(145, 64%, 37%);
    --clr-weekname: hsl(0, 0%, 73%);
    --clr-outline-body: hsl(0, 0%, 67%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-bg-body: hsl(0, 0%, 15%);
        --clr-bg-html: hsl(0, 0%, 13%);
        --clr-text-body: hsl(0, 0%, 100%);
        --clr-bg-placer: color-mix(in lab, var(--clr-primary) 20%, transparent);
        --clr-text-nav-icon: contrast(0) brightness(2);
    }
}

html {
    background-color: var(--clr-bg-html);
}

body {
    font-family: 'Open Sans', system-ui, sans-serif;
    padding: 2em;
    max-width: 800px;
    margin-inline: auto;
    background-color: var(--clr-bg-body);
    outline: 1px solid var(--clr-outline-body);
    color: var(--clr-text-body);
}


.reg-user {
    position: fixed;
    display: none;
    place-items: center;
    inset: 0;
    background-color: var(--clr-bg-html);
    z-index: 10;
}

.reg-user .form-center {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--clr-bg-html);
    padding: 3em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px color-mix(in lab, var(--clr-text-body) 25%, transparent);
}

.reg-user h2 {
    text-transform: uppercase;
    font-size: 1.5em;

}

.reg-user #user-login {
    display: grid;
    gap: 0.5em;
}

#user-login.error::before {
    content: "Username or password is incorrect!";
    text-align: center;
    font-size: .75em;
    color: var(--clr-check-in-false);
}


#user-login.error input {
    border-color: var(--clr-check-in-false) !important;

}

#user-login .input-control {
    display: grid;
    grid-template-areas: "stack";
    justify-items: end;
    align-items: center;
}

#user-login .input-control>* {
    grid-area: stack;
}

#user-login .input-control>input {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    padding: 1em 1.175em;
    border: 1px solid var(--clr-outline-body);
    color: var(--clr-text-body);
    border-radius: .5em;
    outline: none;
    font-size: 1rem;
}

#user-login input:focus-visible {
    border-color: var(--clr-text-lesson-time);
}

#user-login input::placeholder {
    color: var(--clr-outline-body);
}

.input-control>.icon {
    padding-right: 1em;
}

#user-login>a {
    text-align: right;
    color: color-mix(in lab, var(--clr-primary) 60%, var(--clr-bg-body));
    margin-block: 1em;
    text-decoration: none;
}

#user-login>button[type='submit'] {
    padding: 1em;
    background-color: var(--clr-primary);
    border: none;
    border-radius: .5em;
    cursor: pointer;
    color: white;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 1px;
}

#user-login>button[type='submit']:hover {
    filter: brightness(.9);
}


header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 2em;
}

header>h1 {
    font-size: 1.5em;
}

header span.bold {
    text-transform: capitalize;
}

header>.avatar {
    outline: 2px solid color-mix(in oklab, var(--clr-primary) 70%, white);
    outline-offset: 1px;
    border-radius: 1em;
}

header img {
    width: 3.75em;
    aspect-ratio: 1;
    border-radius: inherit;
    background-color: var(--clr-text-lesson-time);
    transition: opacity 300ms linear;
}


footer {
    margin-top: 1.5em;
    font-size: .75em;
}

footer a {
    color: var(--clr-primary);
}


@media (max-width: 420px) {
    body {
        font-size: 13px;
    }
}

@media (max-width: 340px) {
    nav {
        font-size: 11px;
    }
}